/* TAGS */

body{
  background-color: rgb(255, 252, 187);
  font-family: 'Gotu', sans-serif;
  font-size: 19px;
  font-weight: 150;
}

h1,h2,h3{
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 35px;
  font-weight: 200;
}

h2{
  color: rgb(100,50,200);
  font-size: 25px;
}

a{
  text-decoration: none;
  color: #550C18;
  font-weight: bold;
  font-size: 22px;
  transition: color 0.3s ease;
}

a:hover{
  color:yellow;
}

/* Class */

  /* Div */

.container{
  width: 700px;
  margin: 40px auto;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.card-white{
  background: white;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50,50,93,0.1);
  width: 300px;
  margin: 5px auto;
}

.card-purple{
  background: rgba(159,134,170,1);
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50,50,93,0.1);
  width: 300px;
  margin: 5px auto;
}

.card-padding{
  padding-left: 50px;
  padding-right: 50px;
}

.card-big{
  width: 400px;
}

.card-circle-red {
  width: 300px;
  border-radius: 50%;
  background-color: #550C18;
  margin: 5px auto;
  padding: 15px;
}

  /* img */
.img-circle{
  border-radius: 50%;
  border: 5px solid #F7DAD9;
}

  /* text */

.text-center{
  text-align: center;
}

  /* list */

.list-inline{
  list-style: none;
  padding-left: 0px;
}
.list-inline li{
  display: inline;
  padding: 0px 20px;
}

/* button */

.btn-blue{
  padding-top: 22px;
  padding-left: 10px;
  padding-right: 7px;
  background-color: rgb(0,0,255);
  color:white;
  border-radius: 25%;
}

.btn-blue:hover{
  background-color: black;
  color: yellow;
}

/* IDs */



#event-link{
  text-decoration: underline;
}

#external-links-list i{
  font-size: 40px
}
